<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.admin.mapper.SaleListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.example.admin.pojo.SaleList">
        <id column="id" property="id" />
        <result column="amount_paid" property="amountPaid" />
        <result column="amount_payable" property="amountPayable" />
        <result column="remarks" property="remarks" />
        <result column="sale_date" property="saleDate" />
        <result column="sale_number" property="saleNumber" />
        <result column="state" property="state" />
        <result column="user_id" property="userId" />
        <result column="customer_id" property="customerId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, amount_paid, amount_payable, remarks, sale_date, sale_number, state, user_id, customer_id
    </sql>

    <resultMap id="qslbp" type="org.example.admin.pojo.SaleListGoods">
        <result property="id" column="id" />
        <result property="code" column="code"/>
        <result property="model" column="model"/>
        <result property="name" column="name"/>
        <result property="num" column="num"/>
        <result property="price" column="price"/>
        <result property="total" column="total"/>
        <result property="typeId" column="type_id"/>
        <result property="unit" column="unit"/>
        <result property="goodsId" column="goods_id"/>
        <result property="customerName" column="customerName"/>
        <result property="userName" column="userName"/>
        <association property="saleList" javaType="saleList">
            <result property="id" column="id"/>
            <result property="amountPaid" column="amount_paid"/>
            <result property="amountPayable" column="amount_payable"/>
            <result property="saleDate" column="sale_date"/>
            <result property="remarks" column="remarks"/>
            <result property="state" column="state"/>
            <result property="saleNumber" column="sale_number"/>
            <result property="customerId" column="customer_id"/>
            <result property="userId" column="user_id"/>
        </association>
    </resultMap>
    <select id="querySaleListByparams" resultMap="qslbp">
        select tslg.*,tsl.*,tc.name customerName,tu.user_name userName
        from t_sale_list tsl right join t_sale_list_goods tslg on tsl.id = tslg.sale_list_id
                            left join t_customer tc on tsl.customer_id = tc.id
                            left join t_user tu on tsl.user_id = tu.id
    </select>
    <select id="selectCustomerName" resultType="java.lang.String">
        select tc.name
        from t_sale_list tsl left join t_customer tc on tsl.customer_id = tc.id
        group by customer_id
    </select>
    <select id="selectCustomerMoneySum" resultType="java.lang.Float">
        select tsl.amount_payable
        from t_customer tc
            right join  t_sale_list tsl on tsl.customer_id = tc.id
           where tc.name=#{x}
        group by customer_id
    </select>
    <select id="selectSaleMonth" resultType="java.lang.String">
        select uc.calendar_date date
        from util_calendar uc
                 left join  t_sale_list tsl
                            on uc.calendar_date=DATE_FORMAT(tsl.sale_date,'%Y-%m-%d')
        where DATE_FORMAT(calendar_date,'%Y-%m')=DATE_FORMAT(CURDATE(),'%Y-%m')
        group by DATE_FORMAT(uc.calendar_date,'%Y-%m-%d')
    </select>
    <select id="selectSaleMonthPay" resultType="java.lang.Float">
        select COALESCE(SUM(amount_payable),0)
        from util_calendar uc
                 left join  t_sale_list tsl
                            on uc.calendar_date=DATE_FORMAT(tsl.sale_date,'%Y-%m-%d')
        where DATE_FORMAT(calendar_date,'%Y-%m')=DATE_FORMAT(CURDATE(),'%Y-%m')
        group by DATE_FORMAT(uc.calendar_date,'%Y-%m-%d')
    </select>
</mapper>
